<?xml version="1.0"?>
<theme>
    <exe-version>3.0</exe-version>
    <name>PhD</name>
    <title>DOCTORADO 26-27 (INGLÉS)</title>
<language>en</language>
    <version>3</version>
    <compatibility>3.0</compatibility>
    <author>Florido</author>
    <license>Creative Commons by-sa</license>
    <license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
    <description>Estilo minimalista en inglés para los temas de Doctorado</description>
    <downloadable>1</downloadable>
</theme>